@model CarQuest.Web.ViewModels.Offer.OfferDetailsViewModel

<partial name="OfferDetailsPartial" model="@Model" />

@if (!@Model.HasUserAccepted)
{
	<div>
		<a asp-controller="Offer" asp-action="Accept" asp-route-id="@Model.Id" class="btn btn-primary mt-4">Accept</a>
		<a asp-controller="Offer" asp-action="Decline" asp-route-id="@Model.Id" class="btn btn-primary mt-4">Decline</a>
	</div>
}

<a asp-controller="TicketUser" asp-action="Mine" class="btn btn-secondary mt-4">Back to Tickets</a>